include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include edunex *.css
recursive-include edunex *.csv
recursive-include edunex *.html
recursive-include edunex *.ico
recursive-include edunex *.js
recursive-include edunex *.json
recursive-include edunex *.md
recursive-include edunex *.png
recursive-include edunex *.py
recursive-include edunex *.svg
recursive-include edunex *.txt
recursive-exclude edunex *.pyc