include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include syncedx *.css
recursive-include syncedx *.csv
recursive-include syncedx *.html
recursive-include syncedx *.ico
recursive-include syncedx *.js
recursive-include syncedx *.json
recursive-include syncedx *.md
recursive-include syncedx *.png
recursive-include syncedx *.py
recursive-include syncedx *.svg
recursive-include syncedx *.txt
recursive-exclude syncedx *.pyc